<mat-card>
    <mat-card-header>
        <mat-card-title>{{'ttl.declinarVacante'| translate}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form #formV="ngForm" [formGroup]="form">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 form-group" *ngIf="showSelectCompany">
                    <app-input-select [label]="'lbl.empresa'" [lst]="lstCompanies" [xOption]="'nombreEmpresa'" [xId]="'id'" formControlName="idEmpresa" [controll]="f.idEmpresa" [required]="false" (eventEmmitter)="loadDataByEmpresa($event)">
                    </app-input-select>
                </div>

                <div class="col-xs-12 col-md-4 form-group">
                    <app-input-select [label]="'lbl.convocatoria'" [lst]="lstConvocatories" [xOption]="'nombreConvocatoria'" [xId]="'id'" formControlName="idConvocatoria" [controll]="f.idConvocatoria" (eventEmmitter)="loadDataByConvocatoria($event)" [required]="false">
                    </app-input-select>
                </div>
            </div>
        </form>

        <div class="row">

            <div class="col-xs-12 col-sm-6">
                <app-input-search-table (eventEmmitter)="applyFilter($event , dataSource)">
                </app-input-search-table>
            </div>

            <div class="col-xs-12 col-md-12 form-group">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 col-xs-12 full-width" (matSortChange)="sortData($event)">
                    <ng-container matColumnDef="identificacion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.identificacion'|translate}}</th>
                        <td mat-cell *matCellDef=" let element " style="width: 15%;">{{element.documentoUsuario}}</td>
                    </ng-container>

                    <ng-container matColumnDef="nombres">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.nombres'|translate}}</th>
                        <td mat-cell *matCellDef=" let element " style="width: 15%;">{{element.nombresUsuario}}</td>
                    </ng-container>

                    <ng-container matColumnDef="apellidos">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.apellidos'|translate}}</th>
                        <td mat-cell *matCellDef=" let element " style="width: 15%;">{{element.apellidosUsuario}}</td>
                    </ng-container>

                    <ng-container matColumnDef="correo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.correo'|translate}}</th>
                        <td mat-cell *matCellDef=" let element " style="width: 10%;">{{element.emailUsuario}}</td>
                    </ng-container>

                    <ng-container matColumnDef="observaciones">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.observaciones'|translate}}</th>
                        <td mat-cell *matCellDef=" let element " style="width: 10%;">{{element.observacionesDeclinacion ? element.observacionesDeclinacion : ''}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; " [ngClass]="{hovered: row.hovered, highlighted: isSelectedTable(elementCurrent , row.id)}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5,10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </mat-card-content>
</mat-card>