<form #formV="ngForm" [formGroup]="form">

    <div class="col-sm-12  col-md-12 col-lg-12">

        <div class="row mt-4">

            <div class="col-xs-12 col-md-4 form-group">
                <app-input-select [label]="'lbl.tipoTraslado'" [lst]="lstTipoTraslado" [xOption]="'tipoTraslado'" [xId]="'id'" formControlName="idTipoTraslado" [controll]="f.idTipoTraslado">
                </app-input-select>
            </div>

            <div class="col-xs-12 col-md-4 pr-0">
                <mat-form-field appearance="{{appearanceInput}}">
                    <mat-label>{{'lbl.cargarArchivo'|translate}}</mat-label>
                    <ngx-mat-file-input #inputSoport class="inputSoport" formControlName="idSoporte" valuePlaceholder="{{(!elementCurrent.idSoporte ? 'lbl.seleccioneArchivo' :elementCurrent.nombreSoporteAcuerdo) | translate}}" [accept]="configFile.allowExtensions" [errorStateMatcher]="matcher" [required]="true">
                    </ngx-mat-file-input>
                    <button mat-icon-button matSuffix *ngIf="elementCurrent.idSoporte || this.f.idSoporte.value" (click)="inputSoport.clear($event); deleteFileView()">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <mat-hint>{{'msg.archivoPermitido'|translate}} ({{configFile.allowExtensions}})</mat-hint>
                    <mat-error *ngIf="f.idSoporte.hasError('required')">
                        {{'msg.seleccioneArchivo'|translate}} ({{configFile.allowExtensions}})
                    </mat-error>
                    <mat-error *ngIf="f.idSoporte.hasError('maxContentSize')">
                        {{'msg.tamanioArchivo'|translate}}
                        {{f.idSoporte?.getError('maxContentSize').maxSize | byteFormat}}
                        ({{f.idSoporte?.getError('maxContentSize').actualSize | byteFormat}}).
                    </mat-error>
                    <mat-error *ngIf="f.idSoporte.hasError('badExtension')">
                        {{f.idSoporte.errors.badExtension}} ({{configFile.allowExtensions}})
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-sm-2 p-0">
                <button mat-icon-button class="mt-2" type="button" color="primary" (click)="!elementCurrent.idSoporte ? openDialogFile('.inputSoport') :viewFile(elementCurrent.idSoporte)" title="{{'lbl.consultarDocumento'|translate}}" title="{{(!elementCurrent.idSoporte ? 'lbl.cargarArchivo':'lbl.verAdjunto')|translate}}">
                    <mat-icon>{{!elementCurrent.idSoporte ? 'attach_file':'remove_red_eye'}}
                    </mat-icon>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 pull-right form-group">
                <button mat-raised-button color="primary" class="pull-right" [disabled]="submit" (click)="saveSoporteTraslado()" title="{{'btn.guardar'|translate}}">{{'btn.guardar'|translate}}<mat-icon>save</mat-icon>
                </button>
                <button mat-raised-button type="button" class="pull-right mr-1" (click)="cleanForm()" title="{{'btn.limpiar'|translate}}">{{'btn.limpiar'|translate}}
                    <mat-icon>clear_all</mat-icon>
                </button>
            </div>
        </div>


        <div class="col-xs-12 col-md-6">
            <app-input-search-table (eventEmmitter)="applyFilter($event , dataSource)"></app-input-search-table>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-12 form-group">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 col-xs-12 full-width" (matSortChange)="sortDataInfo($event)">

                    <ng-container matColumnDef="tipoTraslado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.tipoTraslado'|translate}}</th>
                        <td mat-cell *matCellDef=" let element ">{{element.tipoTraslado ? element.tipoTraslado.tipoTraslado : ''}}</td>
                    </ng-container>

                    <ng-container matColumnDef="nombreSoporteTraslado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.nombreSoporte'|translate}}</th>
                        <td mat-cell *matCellDef=" let element ">{{element.soporte ? element.soporte.nombreAuxiliar : ''}}</td>
                    </ng-container>

                    <ng-container matColumnDef="soporte">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">
                            {{'lbl.soporte'|translate}}</th>
                        <td mat-cell *matCellDef="let element" style="width: 5%; text-align: center;">
                            <button *ngIf="element.idSoporte" (click)="viewFile(element.idSoporte)" type="button" color="warn" title="{{'lbl.verSoporte'|translate}}" mat-icon-button>
                                <mat-icon>attach_file</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef>{{'lbl.editarEliminar'|translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <button (click)="edit(element)" type="button" title="{{'btn.editar'|translate}}" color="primary" mat-icon-button aria-label=" Example icon-button with a heart icon ">
                                <mat-icon>edit</mat-icon>
                            </button>

                            <button type="button" color="warn" mat-icon-button title="{{'btn.eliminar'|translate}}" (click)="delete(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; " [ngClass]="{hovered: row.hovered, highlighted: isSelectedTable(elementCurrent , row.id)}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5,10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>

    </div>
</form>