<div class="row">
    <div id="div_message" style="visibility: hidden;" [innerHTML]="sanitizerHtml(message['valor'+lang])"
        class="col-sm-12 offset-md-3 col-md-6 message">
    </div>
</div>

<!-- <h3>Gracias por unirte a </h3><br/>
<p>Ahora lo invitamos a continuar con el registro de su información en el portal. <br/> En este portal podrá actualizar sus datos referentes a hoja de vida, donde se encuentran los módulos de datos básicos, personal y familiar, nivel académico, experiencia
    laboral, entre otros. <br/> <br/></p><label> No olvide completar todos sus datos para mantener actualizado su perfil.</label> -->