<form #formV="ngForm" [formGroup]="form">

    <mat-card>

        <mat-card-header>
            <mat-card-title><strong><b> {{'ttl.adicional'|translate}}</b></strong></mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div class="row mt-4" *ngIf="showSelectCompany">

                <div class="col-xs-12 col-md-4 form-group">
                    <app-input-select [label]="'lbl.empresa'" [lst]="lstCompanies" [xOption]="'nombreEmpresa'"
                        [xId]="'id'" formControlName="idEmpresa" [controll]="f.idEmpresa" [required]="false"
                        (eventEmmitter)="loadAdicionalByCompany($event)">
                    </app-input-select>

                </div>
            </div>

            <div class="row">

                <div class="col-xs-12 col-md-6 form-group">
                    <app-input-select [label]="'lbl.convocatoria'" [lst]="lstConvocatory"
                        [xOption]="'nombreConvocatoria'" [xId]="'id'" formControlName="idConvocatoria"
                        [controll]="f.idConvocatoria" (eventEmmitter)="loadAdicionalByConvocatoria($event)">
                    </app-input-select>

                </div>

                <div class="col-xs-12 col-md-6 form-group">
                    <app-input-select [label]="'lbl.etapa'" [lst]="lstStepType" [xOption]="'tipoEtapa'" [xId]="'id'"
                        formControlName="idTipoEtapa" [controll]="f.idTipoEtapa">
                    </app-input-select>
                </div>

                <div class="col-xs-12 col-md-6 form-group">
                    <app-input-select [label]="'lbl.tipo'" [lst]="lstAditionalType" [xOption]="'tipoAdicional'"
                        [xId]="'id'" formControlName="idTipoAdicional" [controll]="f.idTipoAdicional"
                        [required]="true">
                    </app-input-select>
                </div>

                <div class="col-xs-12 col-md-6 form-group">
                    <mat-form-field appearance="{{appearanceInput}}">
                        <mat-label>{{'lbl.puntajeMaximo'|translate}}</mat-label>
                        <input formControlName="puntajeMaximo" matInput="matInput" autocomplete="off"
                            placeholder="{{'lbl.puntajeMaximo'|translate}}" type="number" min="1" required>
                        <mat-error *ngIf="f.puntajeMaximo.hasError('required')">
                            <strong>{{'msg.campoRequerido'|translate}}</strong>
                        </mat-error>
                        <mat-error *ngIf="f.puntajeMaximo.hasError('min')">
                            <strong>{{'msg.numerosMayores0'|translate}}</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- CONTENIDO OCULTO 1 -->
                <div class="col-xs-12 col-md-12 form-group">
                    <mat-expansion-panel [expanded]="true" *ngIf="showField">
                        <br>
                        <div class="row">
                            <div class="col-xs-12 col-md-1 form-group"></div>
                            <div class="col-xs-12 col-md-5 form-group">
                                <mat-form-field appearance="{{appearanceInput}}">
                                    <mat-label>
                                        {{(f.idTipoAdicional.value === idTipoExperiencia ? 'lbl.anios': 'lbl.modalidad')|translate}}
                                    </mat-label>
                                    <mat-select formControlName="idSubTipoAdicional" required>
                                        <mat-option *ngFor="let f of lstSubAditionalType" [value]="f.id">
                                            {{f.tipoAdicional}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="f.idSubTipoAdicional.hasError('required')">
                                        <strong>{{'msg.campoRequerido'|translate}}</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-md-5 form-group">
                                <mat-form-field appearance="{{appearanceInput}}">
                                    <mat-label>{{'lbl.puntajeAsignar'|translate}}</mat-label>
                                    <input formControlName="subPuntajeMaximo" matInput="matInput" autocomplete="off"
                                        placeholder="{{'lbl.puntajeAsignar'|translate}}" type="number" min="1" required>
                                    <mat-error *ngIf="f.subPuntajeMaximo.hasError('required')">
                                        <strong>{{'msg.campoRequerido'|translate}}</strong>
                                    </mat-error>
                                    <mat-error *ngIf="f.subPuntajeMaximo.hasError('min')">
                                        <strong>{{'msg.numerosMayores0'|translate}}</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12 col-md-1 form-group"></div>

                            <div class="col-xs-12 col-md-1 form-group"></div>
                            <div class="col-sm-12 col-md-10 pull-right form-group">
                                <button mat-raised-button color="primary" class="pull-right" [disabled]="submit2"
                                    title="{{'btn.guardar'|translate}}"
                                    (click)="addConfigAditional()">{{'btn.guardar'|translate}}
                                    <mat-icon>save</mat-icon>
                                </button>
                                <button mat-raised-button type="button" class="pull-right mr-1"
                                    (click)="cleanAditionalConfig()"
                                    title="{{'btn.limpiar'|translate}}">{{'btn.limpiar'|translate}}
                                    <mat-icon>clear_all</mat-icon></button>
                            </div>
                            <div class="col-xs-12 col-md-1 form-group"></div>

                            <div class="col-xs-12 col-md-12 form-group">
                                <table mat-table [dataSource]="dataSourceInternal" matSort
                                    class="mat-elevation-z8 col-xs-12 full-width"
                                    (matSortChange)="sortDataInternal($event)" #TableTwoSort="matSort">

                                    <ng-container matColumnDef="convocatoria">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            {{'lbl.convocatoria'|translate}}</th>
                                        <td mat-cell *matCellDef=" let element ">{{element.convocatoria}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="subTipo">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40%;">
                                            {{'lbl.modalidad'|translate}}</th>
                                        <td mat-cell *matCellDef=" let element ">{{element.tipoAdicional}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="subPuntajeMaximo">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%;">
                                            {{'lbl.puntajeMaximo'|translate}}</th>
                                        <td mat-cell *matCellDef=" let element " class="mat-cell-right">
                                            {{element.puntajeMaximo}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="editar">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                                            {{'lbl.editar'|translate}}</th>
                                        <td mat-cell *matCellDef="let element">
                                            <button (click)="editConfig(element)" type="button"
                                                title="{{'btn.editar'|translate}}" color="primary" mat-icon-button
                                                aria-label=" Example icon-button with a heart icon ">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="eliminar">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                                            {{'lbl.eliminar'|translate}}</th>
                                        <td mat-cell *matCellDef="let element" style="width: 15%; text-align: center;">
                                            <button type="button" color="warn" mat-icon-button
                                                title="{{'btn.eliminar'|translate}}" (click)="deleteConfig(element)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns2; "></tr>
                                </table>
                                <mat-paginator #matPaginator2="matPaginator" [pageSizeOptions]="[5,10, 20]"
                                    showFirstLastButtons></mat-paginator>
                            </div>

                        </div>
                    </mat-expansion-panel>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 pull-right form-group">
                    <button mat-raised-button color="primary" class="pull-right" [disabled]="submit"
                        (click)="addAditional()" title="{{'btn.guardar'|translate}}">{{'btn.guardar'|translate}}
                        <mat-icon>save</mat-icon>
                    </button>
                    <button mat-raised-button type="button" class="pull-right mr-1" (click)="cleanAll()"
                        title="{{'btn.limpiar'|translate}}">{{'btn.limpiar'|translate}}
                        <mat-icon>clear_all</mat-icon></button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-xs-12 col-md-12">
                    <div class="col-xs-12 col-md-3">
                        <mat-form-field>
                            <mat-label>{{'lbl.buscar'|translate}}</mat-label>
                            <input matInput (keyup)="applyFilter($event , dataSource)"
                                placeholder="{{'lbl.buscarPlh'|translate}}" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 col-xs-12 full-width"
                        (matSortChange)="sortData($event)" #TableOneSort="matSort">

                        <ng-container matColumnDef="convocatoria">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 45%;">
                                {{'lbl.convocatoria'|translate}}</th>
                            <td mat-cell *matCellDef=" let element ">{{element.convocatoria}}</td>
                        </ng-container>

                        <ng-container matColumnDef="etapa">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;">
                                {{'lbl.etapa'|translate}}</th>
                            <td mat-cell *matCellDef=" let element ">{{element.tipoEtapa}}</td>
                        </ng-container>

                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;">
                                {{'lbl.tipo'|translate}}</th>
                            <td mat-cell *matCellDef=" let element ">{{element.tipoAdicional}}</td>
                        </ng-container>

                        <ng-container matColumnDef="puntajeMaximo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;">
                                {{'lbl.puntajeMaximo'|translate}}</th>
                            <td mat-cell *matCellDef=" let element " class="mat-cell-right">
                                {{element.puntajeMaximo}}</td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 15%;">
                                {{'lbl.editarEliminar'|translate}}</th>
                            <td mat-cell *matCellDef="let element">
                                <div *ngIf="element.mostrarOpciones" style="display: inline-block;">
                                    <button (click)="edit(element)" type="button" title="{{'btn.editar'|translate}}"
                                        color="primary" mat-icon-button
                                        aria-label=" Example icon-button with a heart icon ">
                                        <mat-icon>edit</mat-icon>
                                    </button>

                                    <button type="button" color="warn" mat-icon-button
                                        title="{{'btn.eliminar'|translate}}" (click)="delete(element)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                                <!-- *ngIf="element.idTipoCalificacion != idTypeSimple.id && element.idTipoEtapa != idEtapaClasificacion" -->
                                <button type="button" mat-icon-button title="{{'btn.verMasDetalles'|translate}}"
                                    (click)="seeCombinationsStages(element)">
                                    <mat-icon>remove_red_eye</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns; "
                            [ngClass]="{hovered: row.hovered, highlighted: isSelectedTable(elementCurrent , row.id)}"
                            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
                    </table>
                    <mat-paginator #matPaginator="matPaginator" [pageSizeOptions]="[5,10, 20]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <!-- </div> -->
</form>

<ng-template #dialogInfo>
    <h2 matDialogTitle>{{'ttl.modalidad'| translate}}</h2>
    <div class="row">
        <div class="col-xs-12 col-md-12 form-group">
            <table mat-table [dataSource]="dataSourceInfo" matSort class="mat-elevation-z8 col-xs-12 full-width">
                <ng-container matColumnDef="subTipo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'lbl.modalidad'|translate}}</th>
                    <td mat-cell *matCellDef=" let element ">{{element.tipoAdicional}}</td>
                </ng-container>

                <ng-container matColumnDef="subPuntajeMaximo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        {{'lbl.puntajeMaximo'|translate}}</th>
                    <td mat-cell *matCellDef=" let element ">{{element.puntajeMaximo}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsInfo "></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsInfo; "></tr>
            </table>
            <mat-paginator #paginatorDialog="matPaginator" [pageSizeOptions]="[5,10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 pull-right form-group">
            <app-buttons-fotter [showBtnCancel]="true" (eventEmmitterCancel)="closeDialogInfo()"
                [labelBtnCancel]="'btn.cerrar'" [iconCancel]="'close'"></app-buttons-fotter>
        </div>
    </div>
</ng-template>