<form #formV="ngForm" [formGroup]="form">
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">

        <div class="row mt-4">
            <div class="col-xs-12 col-md-6 form-group">
                <mat-form-field appearance="{{appearanceInput}}">
                    <mat-label>{{'lbl.tipoCurso'|translate}}</mat-label>
                    <input matInput="matInput" formControlName="courseDescription"
                        placeholder="{{'lbl.tipoCurso'|translate}}" autocomplete="off" type="text" required>
                    <mat-error *ngIf="f.courseDescription.hasError('required')">
                        <strong>{{'msg.campoRequerido'|translate}}</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-sm-12  col-md-5 form-group">

                <button mat-raised-button type="button" (click)="cleanForm()"
                    title="{{'btn.limpiar'|translate}}">{{'btn.limpiar'|translate}}
                    <mat-icon>clear_all</mat-icon></button>

                <button mat-raised-button color="primary" [disabled]="submit" (click)="addTipoCurso()"
                    title="{{'btn.guardar'|translate}}">{{'btn.guardar'|translate}}<mat-icon>save</mat-icon>
                </button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-xs-12 col-md-12">
                <div class="col-xs-12 col-md-6">
                    <mat-form-field>
                        <mat-label>{{'lbl.buscar'|translate}}</mat-label>
                        <input matInput (keyup)="applyFilter($event , dataSource)"
                            placeholder="{{'lbl.buscarPlh'|translate}}" autocomplete="off">
                    </mat-form-field>
                </div>
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 col-xs-12 full-width">
                    
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.id'|translate}}</th>
                        <td mat-cell *matCellDef=" let element " style="font-size: 10px;">{{element.id}}</td>
                    </ng-container>

                    <ng-container matColumnDef="descripcionCurso">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.tipoCurso'|translate}}</th>
                        <td mat-cell *matCellDef=" let element ">{{element.descripcionCurso}}</td>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef>{{'lbl.editarEliminar'|translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <button (click)="edit(element)" type="button" title="{{'btn.editar'|translate}}"
                                color="primary" mat-icon-button aria-label=" Example icon-button with a heart icon ">
                                <mat-icon>edit</mat-icon>
                            </button>

                            <button type="button" color="warn" mat-icon-button title="{{'btn.eliminar'|translate}}"
                                (click)="delete(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; "
                        [ngClass]="{hovered: row.hovered, highlighted: isSelectedTable(elementCurrent , row.id)}"
                        (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5,10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</form>