<form #formV="ngForm" [formGroup]="form">

    <mat-card>
        <mat-card-header>
            <mat-card-title>{{'ttl.gestionarUsuarios'|translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row mt-4">
                <div class="col-xs-12 col-md-3 form-group">
                    <mat-form-field appearance="{{appearanceInput}}">
                        <mat-label>Email</mat-label>
                        <input matInput="matInput" formControlName="email" placeholder="Email" autocomplete="off" type="text">
                        <mat-error *ngIf="f.email.hasError('required')">
                            El campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xs-12 col-md-3 form-group">
                    <mat-form-field appearance="{{appearanceInput}}">
                        <mat-label>{{'lbl.estadoUsuario'|translate}}</mat-label>
                        <mat-select formControlName="stateUser" required>
                            <mat-option *ngFor="let g of lstStatesUser" [value]="g.id">
                                {{g.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="f.stateUser.hasError('required')">
                            <strong>{{'msg.campoRequerido'|translate}}</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xs-12 col-md-3 form-group">
                    <mat-form-field appearance="{{appearanceInput}}">
                        <mat-label>{{'lbl.rol'|translate}}</mat-label>
                        <mat-select formControlName="idRol" required>
                            <mat-option *ngFor="let g of lstRoles" [value]="g.id">
                                {{g.rol}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="f.idRol.hasError('required')">
                            <strong>{{'msg.campoRequerido'|translate}}</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xs-12 col-md-3 form-group">
                    <mat-form-field appearance="{{appearanceInput}}">
                        <mat-label>{{'lbl.intentoLogin'|translate}}</mat-label>
                        <input matInput="matInput" formControlName="sizeTryLogin" placeholder="Intento Login" autocomplete="off" type="text">
                        <mat-error *ngIf="f.sizeTryLogin.hasError('required')">
                            El campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xs-12 col-md-3 form-group">
                    <mat-form-field appearance="{{appearanceInput}}">
                        <mat-label>{{'lbl.cuentaSuspendida'|translate}}</mat-label>
                        <input matInput="matInput" formControlName="accountSuspended" placeholder="Cuenta Suspendida" autocomplete="off" type="text">
                        <mat-error *ngIf="f.accountSuspended.hasError('required')">
                            El campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <button mat-raised-button color="primary" class="pull-right" [disabled]="!form.valid || submit" (click)="addconfiguration()" title="{{'btn.guardar'|translate}}">{{'btn.guardar'|translate}} <mat-icon>save</mat-icon>
                    </button>
                    <button mat-raised-button type="button" class="pull-right mr-1" (click)="formV.resetForm()" title="{{'btn.limpiar'|translate}}">{{'btn.limpiar'|translate}}
                        <mat-icon>clear_all</mat-icon></button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-xs-12 col-md-12">
                    <div class="col-xs-12 col-md-3">
                        <mat-form-field>
                            <mat-label>{{'lbl.buscar'|translate}}</mat-label>
                            <input matInput (keyup)="applyFilter($event, dataSource)" placeholder="{{'lbl.buscarPlh'|translate}}">
                        </mat-form-field>
                    </div>
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 col-xs-12 full-width">

                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                            <td mat-cell *matCellDef=" let element ">{{element.email}}</td>
                        </ng-container>

                        <ng-container matColumnDef="stateUser">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                            <td mat-cell *matCellDef=" let element ">{{element.stateUser}}</td>
                        </ng-container>

                        <ng-container matColumnDef="dateCreation">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Creación</th>
                            <td mat-cell *matCellDef=" let element">{{element.fechaCreacion | date:formatDatetimeView}}</td>
                        </ng-container>

                        <ng-container matColumnDef="dateLastSing">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ultimo acceso</th>
                            <td mat-cell *matCellDef=" let element">{{element.fechaUltimoAcceso | date:formatDatetimeView}}</td>
                        </ng-container>

                        <ng-container matColumnDef="sizeTryLogin">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell-right">Intentos ingreso</th>
                            <td mat-cell *matCellDef=" let element" class="mat-cell-right">{{element.cantidadIntentosLogin}}</td>
                        </ng-container>

                        <ng-container matColumnDef="accountSuspended">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Suspendido</th>
                            <td mat-cell *matCellDef=" let element">{{element.cuentaSuspendida == 1 ? 'Si':'No'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="dateSuspended">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Suspención</th>
                            <td mat-cell *matCellDef=" let element">{{element.fechaSuspension | date:formatDatetimeView}}</td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef>Editar / Eliminar</th>
                            <td mat-cell *matCellDef=" let element" class="mat-cell-left">
                                <button (click)="edit(element)" type="button" color="primary" title="Editar" mat-icon-button>
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button (click)="delete(element)" type="button" color="warn" title="Eliminar" mat-icon-button>
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5,10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>