<!-- <a mat-button [routerLink]="['crear-convocatoria']" class="lnk-login">{{'ttl.crearConvocatorias'|translate}}</a>
<a mat-button [routerLink]="['cronograma']" class="lnk-login">{{'ttl.cronograma'|translate}}</a>
<a mat-button [routerLink]="['crear-secciones']" class="lnk-login">{{'ttl.crearSecciones'|translate}}</a>
<a mat-button [routerLink]="['crear-subsecciones']" class="lnk-login">{{'ttl.crearSubsecciones'|translate}}</a>
<a mat-button [routerLink]="['equivalencias']" class="lnk-login">{{'ttl.equivalencias'|translate}}</a>
<a mat-button [routerLink]="['cargos']" class="lnk-login">{{'ttl.cargos'|translate}}</a>
<a mat-button [routerLink]="['etapas']" class="lnk-login">{{'ttl.etapas'|translate}}</a>
<a mat-button [routerLink]="['adicional']" class="lnk-login">{{'ttl.adicional'|translate}}</a>
<a mat-button [routerLink]="['resumen']" class="lnk-login">{{'ttl.resumen'|translate}}</a> -->
<router-outlet></router-outlet>