<form #formV="ngForm" [formGroup]="form">
    <div class="col-sm-12  col-md-12 col-lg-12">
        <div class="row mt-4">
            <div class="col-xs-12 col-md-4 form-group">
                <app-input-general formControlName="codigoTraslado" [controll]="f.codigoTraslado" [label]="'lbl.codigoTraslado'"></app-input-general>
            </div>

            <div class="col-xs-12 col-md-4 form-group">
                <app-input-general formControlName="tipoTraslado" [controll]="f.tipoTraslado" [label]="'lbl.tipoTraslado'"></app-input-general>
            </div>

            <div class="col-xs-12 col-md-4 form-group">
                <app-input-general formControlName="tipoTraslado_En" [controll]="f.tipoTraslado_En" [label]="'lbl.tipoTraslado'" [labelTranslate]="'lbl.campoEn'" [required]="reqCampoIngles"></app-input-general>
            </div>

            <div class="col-sx-12 col-md-4 form-group">
                <label>{{'lbl.estado'|translate}}</label> <br>
                <mat-radio-group aria-label="Clase" formControlName="estado">
                    <mat-radio-button *ngFor="let e of estadoTipoTraslado" labelPosition="after" [value]="e.valor" class="mr-1">{{e['label' + lang]}}</mat-radio-button>
                </mat-radio-group>

                <mat-error *ngIf="f.estado.hasError('required')" style="font-size: 11px;">
                    <strong>{{'msg.campoRequerido'|translate}}</strong>
                </mat-error>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 pull-right form-group">
                <button mat-raised-button color="primary" class="pull-right" [disabled]="submit" (click)="saveTipoTraslado()" title="{{'btn.guardar'|translate}}">{{'btn.guardar'|translate}}<mat-icon>save</mat-icon>
                </button>
                <button mat-raised-button type="button" class="pull-right mr-1" (click)="cleanForm()" title="{{'btn.limpiar'|translate}}">{{'btn.limpiar'|translate}}
                    <mat-icon>clear_all</mat-icon>
                </button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-xs-12 col-md-12">
                <div class="col-xs-12 col-md-6">
                    <mat-form-field>
                        <mat-label>{{'lbl.buscar'|translate}}</mat-label>
                        <input matInput (keyup)="applyFilter($event , dataSource)" placeholder="{{'lbl.buscarPlh'|translate}}" autocomplete="off">
                    </mat-form-field>
                </div>

                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 col-xs-12 full-width" (matSortChange)="sortData($event)">
                    <ng-container matColumnDef="codTipoTraslado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.codigoTraslado'|translate}}</th>
                        <td mat-cell *matCellDef=" let element " style="font-size: 10px;">{{element.codAlterno}}</td>
                    </ng-container>

                    <ng-container matColumnDef="tipoTraslado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.tipoTraslado'|translate}}</th>
                        <td mat-cell *matCellDef=" let element ">{{element.tipoTraslado}}</td>
                    </ng-container>

                    <ng-container matColumnDef="tipoTraslado_En">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.tipoTraslado'|translate}} {{'lbl.campoEn'|translate}}</th>
                        <td mat-cell *matCellDef=" let element ">{{element.tipoTraslado_En}}</td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.estado'|translate}}</th>
                        <td mat-cell *matCellDef=" let element ">{{element.estado === '1' ? 'Activo' : 'Inactivo'}}</td>
                    </ng-container>


                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef>{{'lbl.editarEliminar'|translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <button (click)="edit(element)" type="button" title="{{'btn.editar'|translate}}" color="primary" mat-icon-button aria-label=" Example icon-button with a heart icon ">
                                <mat-icon>edit</mat-icon>
                            </button>

                            <button type="button" color="warn" mat-icon-button title="{{'btn.eliminar'|translate}}" (click)="delete(element)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns; " [ngClass]="{hovered: row.hovered, highlighted: isSelectedTable(elementCurrent , row.id)}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5,10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>


</form>