<form #formV="ngForm" [formGroup]="form">

    <mat-card>
        <mat-card-header>
            <mat-card-title>{{'ttl.crearConvocatorias'|translate}}</mat-card-title>
            <!-- <mat-card-subtitle>Subtitulo</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>

            <div class="row mt-4">
                <div *ngIf="showSelectCompany" class="col-xs-12 col-md-4 form-group">
                    <mat-form-field appearance="{{appearanceInput}}">
                        <mat-label>{{'lbl.empresa'|translate}}</mat-label>
                        <mat-select formControlName="idEmpresa" (selectionChange)='loadConvocatoryByCompany($event)'>
                            <mat-option *ngFor="let g of lstCompanies" [value]="g.id">
                                {{g.nombreEmpresa}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="f.idEmpresa.hasError('required')">
                            <strong>{{'msg.campoRequerido'|translate}}</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xs-12 col-md-4 form-group">
                    <app-input-select [label]="'lbl.modeloProceso'" [lst]="lstModelos" [xOption]="'name'" [xId]="'id'"
                        formControlName="tipoModelo" [controll]="f.tipoModelo"></app-input-select>
                </div>


            </div>



            <div class="row">

                <div class="col-xs-12 col-md-8 form-group">
                    <app-input-general formControlName="nombreConvocatoria" [controll]="f.nombreConvocatoria"
                        [label]="'lbl.nombreConvocatoria'"></app-input-general>
                </div>

                <div class="col-xs-12 col-md-4 form-group">
                    <app-input-general formControlName="numeroConvocatoria" [controll]="f.numeroConvocatoria"
                        [label]="'lbl.numeroConvocatoria'"></app-input-general>
                </div>

                <div class="col-xs-12 col-md-4 form-group">
                    <app-input-select [label]="'lbl.tipoConvocatoria'"
                        (eventEmmitter)="getSectionalByConvocatory($event)" [lst]="lstTypeConvocatory"
                        [xOption]="'tipoConvocatoria'" [xId]="'id'" formControlName="idTipoConvocatoria"
                        [controll]="f.idTipoConvocatoria"></app-input-select>
                </div>

                <div class="col-xs-12 col-md-4 form-group">
                    <mat-form-field appearance="{{appearanceInput}}">
                        <mat-label>{{'lbl.seccional'|translate}}</mat-label>
                        <input type="text" placeholder="{{'lbl.seccional'|translate}}" matInput
                            formControlName="idTipoSede" [matAutocomplete]="auto" required>
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <!--<mat-option *ngFor="let g of filteredOptions | async" [value]="g">-->
                            <mat-option *ngFor="let g of lstTypeSedeTemp" [value]="g">
                                {{translateField(g,'sede',lang)}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="f.idTipoSede.hasError('required')">
                            <strong>{{'msg.campoRequerido'|translate}}</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-xs-12 col-md-4 form-group">
                    <app-input-select [label]="'lbl.tipoCargo'" [lst]="lstTipoCargo" [xOption]="'tipoCargo'"
                        [xId]="'id'" formControlName="idTipoCargo" [controll]="f.idTipoCargo"></app-input-select>
                </div>

                <div class="col-xs-12 col-md-4" *ngIf="showFieldCargosAplicaAspirante">
                    <app-input-general [typeField]="'number'" formControlName="numeroCargosAplicar"
                        [controll]="f.numeroCargosAplicar" [label]="'lbl.numerocargosAplicarAspirante'">
                    </app-input-general>
                </div>

                <div class="col-xs-12 col-md-4">
                    <app-input-general [typeField]="'number'" formControlName="numeroCargos" [controll]="f.numeroCargos"
                        [label]="'lbl.numeroCargos'" [required]="false">
                    </app-input-general>
                </div>


                <div class="col-xs-12 col-md-4 form-group">
                    <app-input-general formControlName="codigoAcuerdo" [controll]="f.codigoAcuerdo"
                        [label]="'lbl.codigoAcuerdo'"></app-input-general>
                </div>

                <div class="col-xs-12 col-md-4 form-group">

                    <app-input-date [label]="'lbl.fechaAcuerdo'" [required]="true" formControlName="fechaAcuerdo"
                        [controll]="f.fechaAcuerdo"></app-input-date>
                </div>

                <div class="col-xs-12 col-md-4 form-group">
                    <app-input-date [label]="'lbl.fechaInicial'" [maxDate]="f.fechaFinal.value" [required]="true"
                        formControlName="fechaInicial" [controll]="f.fechaInicial"></app-input-date>
                </div>

                <div class="col-xs-12 col-md-4 form-group">
                    <app-input-date [label]="'lbl.fechaFinal'" [minDate]="f.fechaInicial.value"
                        formControlName="fechaFinal" [controll]="f.fechaFinal" [required]="false"></app-input-date>
                </div>

                <div class="col-xs-12 col-md-4 form-group">
                    <div class="row">
                        <div class="col-sm-10 pr-0">
                            <mat-form-field appearance="{{appearanceInput}}">
                                <mat-label>{{'lbl.soporteAcuerdo'|translate}}</mat-label>
                                <ngx-mat-file-input #inputSoport class="inputSoport" formControlName="requiredfile"
                                    valuePlaceholder="{{(!elementCurrent.idSoporteAcuerdo ? 'lbl.seleccioneArchivo' :elementCurrent.nombreSoporteAcuerdo) | translate}}"
                                    [accept]="configFile.allowExtensions" [errorStateMatcher]="matcher"
                                    [required]="true">
                                </ngx-mat-file-input>
                                <button mat-icon-button matSuffix
                                    *ngIf="elementCurrent.idSoporteAcuerdo || this.f.requiredfile.value"
                                    (click)="inputSoport.clear($event); deleteFileView()">
                                    <mat-icon>clear</mat-icon>
                                </button>
                                <mat-hint>{{'msg.archivoPermitido'|translate}} ({{configFile.allowExtensions}})
                                </mat-hint>
                                <mat-error *ngIf="f.requiredfile.hasError('required')">
                                    {{'msg.seleccioneArchivo'|translate}} ({{configFile.allowExtensions}})
                                </mat-error>
                                <mat-error *ngIf="f.requiredfile.hasError('maxContentSize')">
                                    {{'msg.tamanioArchivo'|translate}}
                                    {{f.requiredfile?.getError('maxContentSize').maxSize | byteFormat}}
                                    ({{f.requiredfile?.getError('maxContentSize').actualSize | byteFormat}}).
                                </mat-error>
                                <mat-error *ngIf="f.requiredfile.hasError('badExtension')">
                                    {{f.requiredfile.errors.badExtension}} ({{configFile.allowExtensions}})
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2 p-0">
                            <button mat-icon-button class="mt-2" type="button" color="primary"
                                (click)="!elementCurrent.idSoporteAcuerdo ? openDialogFile('.inputSoport') :viewFile(elementCurrent.idSoporteAcuerdo)"
                                title="{{'lbl.consultarDocumento'|translate}}"
                                title="{{(!elementCurrent.idSoporteAcuerdo ? 'lbl.cargarArchivo':'lbl.verAdjunto')|translate}}">
                                <mat-icon>{{!elementCurrent.idSoporteAcuerdo ? 'attach_file':'remove_red_eye'}}
                                </mat-icon>
                            </button>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-md-4 form-group">
                    <div class="row">
                        <div class="col-sm-10 pr-0">
                            <mat-form-field appearance="{{appearanceInput}}">
                                <mat-label>{{'lbl.soporteInscripcion'|translate}}</mat-label>
                                <ngx-mat-file-input #inputSoport2 class="inputSoport2" formControlName="requiredfile2"
                                    valuePlaceholder="{{(!elementCurrent.idSoporteInstructivoInscripcion ? 'lbl.seleccioneArchivo' :elementCurrent.soporteInscripcion) | translate}}"
                                    [accept]="configFile.allowExtensions" [errorStateMatcher]="matcher"
                                    [required]="false">
                                </ngx-mat-file-input>
                                <button mat-icon-button matSuffix
                                    *ngIf="elementCurrent.idSoporteInstructivoInscripcion || this.f.requiredfile2.value"
                                    (click)="inputSoport2.clear($event); deleteFileView2()">
                                    <mat-icon>clear</mat-icon>
                                </button>
                                <mat-hint>{{'msg.archivoPermitido'|translate}} ({{configFile.allowExtensions}})
                                </mat-hint>
                                <mat-error *ngIf="f.requiredfile.hasError('required')">
                                    {{'msg.seleccioneArchivo'|translate}} ({{configFile.allowExtensions}})
                                </mat-error>
                                <mat-error *ngIf="f.requiredfile.hasError('maxContentSize')">
                                    {{'msg.tamanioArchivo'|translate}}
                                    {{f.requiredfile2?.getError('maxContentSize').maxSize | byteFormat}}
                                    ({{f.requiredfile2?.getError('maxContentSize').actualSize | byteFormat}}).
                                </mat-error>
                                <mat-error *ngIf="f.requiredfile2.hasError('badExtension')">
                                    {{f.requiredfile2.errors.badExtension}} ({{configFile.allowExtensions}})
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2 p-0">
                            <button mat-icon-button class="mt-2" type="button" color="primary"
                                (click)="!elementCurrent.idSoporteInstructivoInscripcion ? openDialogFile('.inputSoport2') :viewFile(elementCurrent.idSoporteInstructivoInscripcion)"
                                title="{{'lbl.consultarDocumento'|translate}}"
                                title="{{(!elementCurrent.idSoporteInstructivoInscripcion ? 'lbl.cargarArchivo':'lbl.verAdjunto')|translate}}">
                                <mat-icon>{{!elementCurrent.idSoporteInstructivoInscripcion ?
                                    'attach_file':'remove_red_eye'}}
                                </mat-icon>
                            </button>
                        </div>

                    </div>
                </div>

                <div #divFormSoporte class="col-xs-12 col-md-4 form-group">
                    <div class="row">
                        <div class="col-sm-10 pr-0">
                            <mat-form-field appearance="{{appearanceInput}}">
                                <mat-label>{{'lbl.soporteInvitacion'|translate}}</mat-label>
                                <ngx-mat-file-input #inputSoport3 class="inputSoport3" formControlName="requiredfile3"
                                    valuePlaceholder="{{(!elementCurrent.idSoporteInvitacionPublica ? 'lbl.seleccioneArchivo' :elementCurrent.soporteInvitacion) | translate}}"
                                    [accept]="configFile.allowExtensions" [errorStateMatcher]="matcher"
                                    [required]="false">
                                </ngx-mat-file-input>
                                <button mat-icon-button matSuffix
                                    *ngIf="elementCurrent.idSoporteInvitacionPublica || this.f.requiredfile3.value"
                                    (click)="inputSoport3.clear($event); deleteFileView2()">
                                    <mat-icon>clear</mat-icon>
                                </button>
                                <mat-hint>{{'msg.archivoPermitido'|translate}} ({{configFile.allowExtensions}})
                                </mat-hint>
                                <mat-error *ngIf="f.requiredfile.hasError('required')">
                                    {{'msg.seleccioneArchivo'|translate}} ({{configFile.allowExtensions}})
                                </mat-error>
                                <mat-error *ngIf="f.requiredfile.hasError('maxContentSize')">
                                    {{'msg.tamanioArchivo'|translate}}
                                    {{f.requiredfile3?.getError('maxContentSize').maxSize | byteFormat}}
                                    ({{f.requiredfile3?.getError('maxContentSize').actualSize | byteFormat}}).
                                </mat-error>
                                <mat-error *ngIf="f.requiredfile3.hasError('badExtension')">
                                    {{f.requiredfile3.errors.badExtension}} ({{configFile.allowExtensions}})
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2 p-0">
                            <button mat-icon-button class="mt-2" type="button" color="primary"
                                (click)="!elementCurrent.idSoporteInvitacionPublica ? openDialogFile('.inputSoport3') :viewFile(elementCurrent.idSoporteInvitacionPublica)"
                                title="{{'lbl.consultarDocumento'|translate}}"
                                title="{{(!elementCurrent.idSoporteInvitacionPublica ? 'lbl.cargarArchivo':'lbl.verAdjunto')|translate}}">
                                <mat-icon>{{!elementCurrent.idSoporteInstructivoInscripcion ?
                                    'attach_file':'remove_red_eye'}}
                                </mat-icon>
                            </button>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-md-10 form-group">
                    <label
                        [ngClass]="{'text-danger font-weight-bold': requiredCorporation }">{{'lbl.dependencia'|translate}}</label>
                    <!-- <mat-list> -->
                    <div class="row">
                        <mat-list-item formArrayName="corporation"
                            *ngFor="let item of getControlsCorporation(); let i = index"
                            class="col-xs-6 col-sm-6 col-md-4">
                            <mat-checkbox [formControlName]="i" labelPosition="after"
                                (change)="eventChekbox(lstTypePlace[i].id)">
                                {{translateField(lstTypePlace[i],'tipo',lang)}}
                            </mat-checkbox>
                        </mat-list-item>
                    </div>
                    <!-- </mat-list> -->
                    <mat-error *ngIf="requiredCorporation" style="font-size: 11px;">
                        <strong>{{'msg.campoRequerido'|translate}}</strong>
                    </mat-error>
                </div>
            </div>

            <div #divFormAltasCortes class="row">

                <div class="col-xs-12 col-md-12 form-group">
                    <hr class="barra">
                </div>

                <div class="col-xs-12 col-md-12 form-group">
                    <mat-card-header>
                        <mat-card-title>{{'ttl.servidorRetiraCargo'|translate}}</mat-card-title>
                        <!-- <mat-card-subtitle>Subtitulo</mat-card-subtitle> -->
                    </mat-card-header>
                </div>

                <div class="col-xs-12 col-md-6 form-group">
                    <app-input-general formControlName="nombresServidorRetirado" [controll]="f.nombresServidorRetirado"
                        [label]="'lbl.nombre'" [required]="false"></app-input-general>
                </div>

                <div class="col-xs-12 col-md-6 form-group">
                    <app-input-general formControlName="apellidosServidorRetirado"
                        [controll]="f.apellidosServidorRetirado" [label]="'lbl.apellido'" [required]="false">
                    </app-input-general>
                </div>

                <div class="col-xs-12 col-md-6 form-group">
                    <app-input-general formControlName="cedulaServidorRetirado" [controll]="f.cedulaServidorRetirado"
                        [label]="'lbl.documentoIdentidad'" [required]="false"></app-input-general>
                </div>

                <div class="col-xs-12 col-md-12 form-group">
                    <mat-form-field appearance="{{appearanceInput}}">
                        <mat-label>{{'lbl.observaciones'|translate}}</mat-label>
                        <textarea rows="3" matInput formControlName="observacionesServidorRetirado"
                            placeholder="{{'lbl.observacionesPlh'|translate}}"></textarea>
                    </mat-form-field>
                </div>
            </div>


            <div class="row mt-4">
                <div class="col-xs-12 col-md-12 form-group">
                    <button mat-raised-button class="pull-right" color="primary" title="{{'btn.guardar'|translate}}"
                        [disabled]="submit" (click)="addConvocatory()">{{'btn.guardar'|translate}}<mat-icon>save
                        </mat-icon>
                    </button>
                    <button mat-raised-button type="button" class="pull-right mr-1" (click)="cleanForm()"
                        title="{{'btn.limpiar'|translate}}">{{'btn.limpiar'|translate}}
                        <mat-icon>clear_all</mat-icon>
                    </button>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-12 col-md-12 form-group">

                    <div class="col-xs-12 col-md-6">
                        <mat-form-field>
                            <mat-label>{{'lbl.buscar'|translate}}</mat-label>
                            <input matInput (keyup)="applyFilter($event, dataSource)"
                                placeholder="{{'lbl.buscarPlh'|translate}}" autocomplete="off">
                        </mat-form-field>
                    </div>

                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 col-xs-12 full-width">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.id'|translate}}
                            </th>
                            <td mat-cell *matCellDef=" let element " style="width: 12%;">{{element.id}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="nombreConvocatoria">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.nombreConvocatoria'|translate}}
                            </th>
                            <td mat-cell *matCellDef=" let element " style="width: 28%;">{{element.nombreConvocatoria}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="numeroConvocatoria">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: justify;">
                                {{'lbl.numeroConvocatoria2'|translate}}</th>
                            <td mat-cell *matCellDef=" let element " class="mat-cell-right" style="width: 8%;">
                                {{element.numeroConvocatoria}}</td>
                        </ng-container>

                        <ng-container matColumnDef="nombreTipoConvocatoria">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.tipoConvocatoria'|translate}}
                            </th>
                            <td mat-cell *matCellDef=" let element " style="width: 8%;">
                                {{element.nombreTipoConvocatoria}}</td>
                        </ng-container>

                        <ng-container matColumnDef="nombreTipoSede">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.seccional'|translate}}</th>
                            <td mat-cell *matCellDef=" let element " style="width: 10%;">{{element.nombreTipoSede}}</td>
                        </ng-container>

                        <ng-container matColumnDef="nombreTipoCargo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.cargo'|translate}}</th>
                            <td mat-cell *matCellDef=" let element " style="width: 8%;">{{element.nombreTipoCargo}}</td>
                        </ng-container>

                        <ng-container matColumnDef="codigoAcuerdo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.codigoAcuerdo'|translate}}</th>
                            <td mat-cell *matCellDef=" let element " style="width: 10%;">{{element.codigoAcuerdo}}</td>
                        </ng-container>

                        <ng-container matColumnDef="nombreSoporteAcuerdo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">
                                {{'lbl.soporte'|translate}}</th>
                            <td mat-cell *matCellDef="let element" style="width: 5%; text-align: center;">
                                <button *ngIf="element.idSoporteAcuerdo" (click)="viewFile(element.idSoporteAcuerdo)"
                                    type="button" color="warn" title="{{'lbl.verSoporte'|translate}}" mat-icon-button>
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="soporteInscripcion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">
                                {{'lbl.instructivoInscripcion'|translate}}</th>
                            <td mat-cell *matCellDef="let element" style="width: 5%; text-align: center;">
                                <button *ngIf="element.idSoporteInstructivoInscripcion"
                                    (click)="viewFile(element.idSoporteInstructivoInscripcion)" type="button"
                                    color="warn" title="{{'lbl.verSoporte'|translate}}" mat-icon-button>
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="soporteInvitacion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center;">
                                {{'lbl.invitacionPublica'|translate}}</th>
                            <td mat-cell *matCellDef="let element" style="width: 5%; text-align: center;">
                                <button *ngIf="element.idSoporteInvitacionPublica"
                                    (click)="viewFile(element.idSoporteInvitacionPublica)" type="button" color="warn"
                                    title="{{'lbl.verSoporte'|translate}}" mat-icon-button>
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.estado'|translate}}</th>
                            <td mat-cell *matCellDef=" let element " style="width: 5%">
                                {{(element.estadoConvocatoria == 0 ?
                                'lbl.inactiva' :
                                (element.estadoConvocatoria== 5 ?
                                'lbl.finalizada':
                                (element.estadoConvocatoria== 3 || element.estadoConvocatoria== 4 ? 'lbl.publicada' :
                                'lbl.activa'))
                                )| translate}}</td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <!-- <th mat-header-cell *matHeaderCellDef style="text-align: center;">{{'lbl.editar'|translate}}/{{'btn.activar'|translate}}/{{'btn.inactivar'|translate}}</th> -->
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                                {{'lbl.acciones'|translate}}</th>
                            <td mat-cell *matCellDef="let element" style="width: 22%;" class="text-center">
                                <div *ngIf="verifyActions(element); let btnStates">

                                    <button *ngIf="btnStates.btnEdit" (click)="edit(element)" type="button"
                                        title="{{'btn.editar'|translate}}" color="primary" mat-icon-button>
                                        <mat-icon>edit</mat-icon>
                                    </button>

                                    <button *ngIf="btnStates.btnActive" type="button" color="warn" mat-icon-button
                                        title="{{'btn.activar'|translate}}"
                                        (click)="updateState(element, stateConvocatoria.ACTIVO)">
                                        <mat-icon>done</mat-icon>
                                    </button>

                                    <button *ngIf="btnStates.btnInactive" type="button" color="warn" mat-icon-button
                                        title="{{'btn.inactivar'|translate}}"
                                        (click)="updateState(element, stateConvocatoria.INACTIVO)">
                                        <mat-icon>block</mat-icon>
                                    </button>

                                </div>

                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns; "
                            [ngClass]="{hovered: row.hovered, highlighted: isSelectedTable(elementCurrent , row.id)}"
                            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5,10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</form>