<form #formV="ngForm" [formGroup]="form">
    <mat-accordion>
        <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'ttl.calendario'|translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="col-sm-12  col-md-12 col-lg-12">

                <div class="row mt-4">
                    <div class="col-xs-12 col-md-6 form-group">
                        <app-input-general formControlName="calendario" [controll]="f.calendario"
                            [label]="'lbl.calendario'"></app-input-general>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 pull-right form-group">
                        <button mat-raised-button color="primary" class="pull-right" [disabled]="submit"
                            (click)="addCalendario()" title="{{'btn.guardar'|translate}}">{{'btn.guardar'|translate}}
                            <mat-icon>save</mat-icon>
                        </button>
                        <button mat-raised-button type="button" class="pull-right mr-1" (click)="cleanForm()"
                            title="{{'btn.limpiar'|translate}}">{{'btn.limpiar'|translate}}
                            <mat-icon>clear_all</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-xs-12 col-md-12">
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field>
                                <mat-label>{{'lbl.buscar'|translate}}</mat-label>
                                <input matInput (keyup)="applyFilter($event , dataSource)"
                                    placeholder="{{'lbl.buscarPlh'|translate}}" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <table mat-table [dataSource]="dataSource" matSort #MatSortOne="matSort"
                            class="mat-elevation-z8 col-xs-12 full-width" (matSortChange)="sortData($event)">

                            <ng-container matColumnDef="calendario">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.calendario'|translate}}
                                    {{'lbl.campoEs'|translate}}</th>
                                <td mat-cell *matCellDef=" let element ">{{element.calendario}}</td>
                            </ng-container>

                            <ng-container matColumnDef="options">
                                <th mat-header-cell *matHeaderCellDef>{{'lbl.editarEliminar'|translate}}</th>
                                <td mat-cell *matCellDef="let element">
                                    <button (click)="edit(element)" type="button" title="{{'btn.editar'|translate}}"
                                        color="primary" mat-icon-button
                                        aria-label=" Example icon-button with a heart icon ">
                                        <mat-icon>edit</mat-icon>
                                    </button>

                                    <button type="button" color="warn" mat-icon-button
                                        title="{{'btn.eliminar'|translate}}" (click)="delete(element)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns; "
                                [ngClass]="{hovered: row.hovered, highlighted: isSelectedTable(elementCurrent , row.id)}"
                                (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
                        </table>
                        <mat-paginator #MatPaginatorOne="matPaginator" [pageSizeOptions]="[5,10, 20]"
                            showFirstLastButtons>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</form>

<form #formV2="ngForm" [formGroup]="form2">
    <mat-accordion>
        <mat-expansion-panel [expanded]="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{'ttl.detalleCalendario'|translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="col-sm-12  col-md-12 col-lg-12">

                <div class="row mt-4">

                    <div class="col-xs-12 col-md-6 form-group">
                        <app-input-select [label]="'lbl.calendario'" [lst]="lstCalendario" [xOption]="'calendario'"
                            [xId]="'id'" formControlName="idCalendario" [controll]="f2.idCalendario">
                        </app-input-select>
                    </div>

                    <div class="col-xs-12 col-md-6 form-group">
                        <app-input-date [label]="'lbl.fecha'" formControlName="fechaNoHabil"
                            [controll]="f2.fechaNoHabil"></app-input-date>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 pull-right form-group">
                        <button mat-raised-button color="primary" class="pull-right" [disabled]="submit"
                            (click)="addCalendarioDet()" title="{{'btn.guardar'|translate}}">{{'btn.guardar'|translate}}
                            <mat-icon>save</mat-icon>
                        </button>
                        <button mat-raised-button type="button" class="pull-right mr-1" (click)="cleanForm2()"
                            title="{{'btn.limpiar'|translate}}">{{'btn.limpiar'|translate}}
                            <mat-icon>clear_all</mat-icon>
                        </button>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-xs-12 col-md-12">
                        <div class="col-xs-12 col-md-6">
                            <mat-form-field>
                                <mat-label>{{'lbl.buscar'|translate}}</mat-label>
                                <input matInput (keyup)="applyFilter($event , dataSource2)"
                                    placeholder="{{'lbl.buscarPlh'|translate}}" autocomplete="off">
                            </mat-form-field>
                        </div>
                        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 col-xs-12 full-width"
                            matSort #TableTwoSort="matSort" (matSortChange)="sortData2($event)">

                            <ng-container matColumnDef="idCalendario">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.calendario'|translate}}
                                </th>
                                <td mat-cell *matCellDef=" let element ">{{element.nombreCalendario}}</td>
                            </ng-container>

                            <ng-container matColumnDef="fechaNoHabil">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.fechaNoHabil'|translate}}
                                </th>
                                <td mat-cell *matCellDef=" let element ">{{element.fechaNoHabil | date:formatDateView}}</td>
                            </ng-container>

                            <ng-container matColumnDef="options">
                                <th mat-header-cell *matHeaderCellDef>{{'lbl.editarEliminar'|translate}}</th>
                                <td mat-cell *matCellDef="let element">
                                    <button (click)="edit2(element)" type="button" title="{{'btn.editar'|translate}}"
                                        color="primary" mat-icon-button
                                        aria-label=" Example icon-button with a heart icon ">
                                        <mat-icon>edit</mat-icon>
                                    </button>

                                    <button type="button" color="warn" mat-icon-button
                                        title="{{'btn.eliminar'|translate}}" (click)="delete2(element)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns2 "></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2; "
                                [ngClass]="{hovered: row.hovered, highlighted: isSelectedTable(elementCurrent , row.id)}"
                                (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
                        </table>
                        <mat-paginator #matPaginator2="matPaginator" [pageSizeOptions]="[5,10, 20]"
                            showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</form>