table {
    width: 100%;
}

.alert-subtitle {
    background-color: #50748c;
    border-color: #b8daff;
    color: #ffffff;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(56, 56, 56, 0.4);
    font-size: 18px;
    text-align: center;
    padding: 13px 15px;
}

.mat-cell {
    font-size: 12px;
}