<div class="row mt-4">
    <div class="col-xs-12 col-md-12">
        <div class="col-sm-12 col-md-6">
            <app-input-search-table (eventEmmitter)="applyFilter($event , dataSource)">
            </app-input-search-table>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 col-xs-12 full-width"
            (matSortChange)="sortData($event)">

            <ng-container matColumnDef="idRolUsuario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.nombreRol'|translate}}</th>
                <td mat-cell *matCellDef=" let element ">{{element.nombreRol}}</td>
            </ng-container>

            <ng-container matColumnDef="idEmpresa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.empresa'|translate}}</th>
                <td mat-cell *matCellDef=" let element ">{{element.nombreEmpresa}}</td>
            </ng-container>

            <ng-container matColumnDef="idVista">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.nombreVista'|translate}}</th>
                <td mat-cell *matCellDef=" let element ">{{element.nombreVista}}</td>
            </ng-container>

            <ng-container matColumnDef="permisosEspeciales">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.permisosEspeciales'|translate}}
                </th>
                <td mat-cell *matCellDef=" let element ">{{element.persmisosEspeciales}}</td>
            </ng-container>

            <ng-container matColumnDef="permiteCrear">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.permiteCrear'|translate}}</th>
                <td mat-cell *matCellDef=" let element ">
                    {{(element.permiteCrear == 1 ? 'lbl.✓' : '')| translate}}</td>
            </ng-container>

            <ng-container matColumnDef="permiteLectura">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.permiteLectura'|translate}}
                </th>
                <td mat-cell *matCellDef=" let element ">
                    {{(element.permiteLectura == 1 ? 'lbl.✓' : '')| translate}}</td>
            </ng-container>

            <ng-container matColumnDef="permiteActualizar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.permiteActualizar'|translate}}
                </th>
                <td mat-cell *matCellDef=" let element ">
                    {{(element.permiteActualizar == 1 ? 'lbl.✓' : '')| translate}}</td>
            </ng-container>

            <ng-container matColumnDef="permiteEliminar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'lbl.permiteEliminar'|translate}}
                </th>
                <td mat-cell *matCellDef=" let element ">
                    {{(element.permiteEliminar == 1 ? 'lbl.✓' : '')| translate}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; "
                [ngClass]="{hovered: row.hovered, highlighted: isSelectedTable(elementCurrent , row.id)}"
                (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>